<div class="navbar">

  <div class="navbar-left">

    <div class="sidebar-trigger">
      <span onclick="openNav()">
        <i class="fa fa-bars"></i>
      </span>
    </div>

  </div>

  <div class="navbar-right">

    <% if user_signed_in? %>

    <%= link_to "Add Product", new_product_path(@product), class: "link" if current_user.is_admin %>

    <div class="cart-wrapper">
      <div class="cart-counter" style="display: <%= current_user.hide_if_no_notifications %>">
        <div class="dot">
          <%= current_user.cart.cart_items.count %>
        </div>
      </div>

      <%= link_to cart_path(current_user), class: "link" do %>
      <i class="fa fa-shopping-cart"></i>
      <% end %>

    </div>

    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "link" ) %>

    <% else %>

    <%= link_to('Log In', new_user_session_path, class: "link" ) %>


    <% end %>

  </div>

</div>
