<div class="navbar">

  <div class="navbar-left">

    <i class="sidebar-trigger fa fa-bars" onclick="openNav()"></i>

  </div>

  <div class="navbar-right">

    <% if user_signed_in? %>

    <% if current_user.is_admin? %>

    <%= link_to "Products", new_product_path %>

    <%= link_to "Orders", orders_path %>

    <% else %>

    <%= link_to new_product_path(@product) do %>
      <i class="fa fa-shopping-cart"></i>
    <% end %>

    <% end %>

    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "link" ) %>

    <% else %>

    <%= link_to('Sign In', new_user_session_path, class: "link" ) %>

    <% end %>

  </div>

</div>
