<div class="cart-container">

  <div class="cart-left">

    <div class="cart-products">

      <div class="cart-products-header">

        <h4> <b> Your Cart (<%= @cart_items.count %>) </b> </h4>

      </div>

      <% if @cart_items.empty? %>

      <div class="empty-cart-product">

        <div class="empty-cart">
          <p> Your cart is empty. <%= link_to "Shop all products", products_path  %> </p>
        </div>

      </div>

      <% else %>

      <% @cart_items.each do |cart_item| %>

      <div class="cart-product">

        <div class="cart-product-image">
          <div class="cart-product-image" style="background-image: url(<%= cl_image_path cart_item.product.main_photo, height: 200, width: 200, crop: :fill %>);"> </div>
        </div>

        <div class="cart-product-info">

          <div class="cart-product-title">
            <p> <b> <%= link_to cart_item.product.name, product_path(cart_item.product) %> </b> </p>
          </div>

          <div class="cart-product-description">
            <p> <b> Size: </b> <%= cart_item.size  %> </p>
            <p> <b> Quantity: </b> <%= cart_item.quantity  %> </p>
            <p> <b> Price: </b> <%= cart_item.product.price %> Lps </p>
          </div>

          <div class="cart-product-actions">
            <p> <b> Size: </b> <%= cart_item.size  %> </p>
            <p> <b> Quantity: </b> <%= cart_item.quantity  %> </p>
            <p> <%= link_to "Delete", cart_item_path(cart_item), :method => :delete %> </p>

          </div>

        </div>

      </div>

      <% end %>

      <% end %>

    </div>

  </div>

  <div class="cart-right">

    <div class="cart-summary">

      <div class="cart-summary-header">

        <h4> <b> Summary </b> </h4>

      </div>

      <div class="cart-summary-body">

        <% @cart_items.each_with_index do |cart_item, index|%>

        <p> <%= index + 1 %>. <%= cart_item.product.name %> size '<%= cart_item.size %>' x <%= cart_item.quantity %></p>

        <% end %>

        <div class="split-apart">

          <div class="align-left">

            <h4>  Total:  </h4>

          </div>

          <div class="align-right">

            <h4> <%= @cart_total %> Lps </h4>

          </div>

        </div>

      </div>

      <div class="cart-summary-button">

        <% unless @cart_items.empty? %>
        <%= simple_form_for(@order) do |t| %>
        <%= t.button :submit, "Check Out", class: "checkout-button" %>
        <% end %>
        <% end %>

      </div>

    </div>

  </div>

</div>
