<h1>
  Admin New
</h1>

<%= simple_form_for([:admin, @product]) do |f| %>

<%= f.input :name %>
<%= f.input :description %>

<%= f.fields_for :image do |p| %>
<%= p.file_field :photo, multiple: true, name: "images[photo][]" %>
<% end %>

<%= f.submit %>

<% end %>
