<h1>New product</h1>

<%= form_for(@product, :html => { :multipart => true }) do |f| %>
   <div class="field">
     <%= f.label :name %><br>
     <%= f.text_field :name %>
   </div>

  <%= f.fields_for :image do |p| %>
    <div class="field">
      <%= p.label :photo %><br>
      <%= p.file_field :photo, :multiple => true, name: "images[photo][]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', products_path %>
