<h1>New product</h1>

<%= simple_form_for(@product, :html => { :multipart => true }) do |f| %>

<div class="field">

  <%= f.input :name %><br>
  <%= f.input :price %><br>
  <%= f.input :main_photo, label: "Main Photo" %>
  <%= f.input :main_photo_cache, as: :hidden %>

</div>

<%= f.fields_for :image do |p| %>

<div class="field">
  <%= p.label :photo, label: "Extra Photos"  %><br>
  <%= p.file_field :photo, :multiple => true, name: "images[photo][]" %>
</div>

<% end %>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Go Back', products_path %>
