<div class="product-container">

  <div class="product-show-left">

    <% @product.images.each do |image| %>
    <div class="product-image">
      <%= cl_image_tag image.photo, width: "100%", height: "100%" %>
    </div>
    <% end %>

  </div>

  <div class="product-show-right">

    <div class="product-information-large">

      <h3><b><%= @product.name.upcase %></b></h3>

      <h4><b><%= humanized_money_with_symbol(@product.price_cents) %></b></h4>
      <% if @product.description %>
      <h4><b><%= simple_format(@product.description) %></b></h4>
      <% end %>

    </div>

    <div class="product-actions">

    <%= simple_form_for([@product, @cart_item], remote: true) do |f| %>
    <%= f.input :size, as: :select, collection: ["XS", "S", "M", "L", "XL"] %>
    <%= f.input :quantity %>
    <%= f.submit "Add to Cart", class: "primary-button", id: "add-to-cart-button" %>
    <% end %>

    </div>

  </div>

</div>
