<div class="product-show-container">
  <div class="product-images">

    <div class="product-image" style="background-image: url(<%= @product.main_photo %> );"> </div>

    <% @product.images.each do |image| %>
    <div class="product-image" style="background-image: url(<%= image.photo %> );"> </div>
    <% end %>

  </div>

  <div class="product-details">

    <div class="product-info">

      <p> <b> <%= @product.name %> </b> </p>
      <p> <%= @product.price %></p>
      <p> <%= @product.available %></p>

    </div>

    <div class="buy-box">

      <% if current_user.is_admin %>

      <% else %>

      <%= simple_form_for([ @product, @cart_item ]) do |t| %>
      <div class="inline-inputs">
        <%= t.input :size, collection: [ "XS", "S", "M", "L", "XL"], id: "size-select" %>
        <%= t.input :quantity, id: "quantity-select"  %>
      </div>

      <div class="centered-button">
        <%= t.button :submit, "Add to Cart", class: "primary-button" %>
      </div>
      <% end %>

      <% end %>

    </div>

  </div>

</div>

<% flash[:cart_item_created] = "Successfully created..." %>
