<div class="product-show-container">
  <div class="product-images">

    <div class="product-image" style="background-image: url(<%= @product.main_photo %> );"> </div>

    <% @product.images.each do |image| %>
    <div class="product-image" style="background-image: url(<%= image.photo %> );"> </div>
    <% end %>

  </div>

  <div class="product-details">

    <p> <b> <%= @product.name %> </b> </p>
    <p> <%= @product.price %></p>
    <p> <%= @product.available %></p>

    <%= simple_form_for([ @product, @cart_item ]) do |t| %>
    <%= t.input :size %>
    <%= t.input :quantity %>

    <%= t.button :submit %>
    <% end %>

  </div>


</div>
