<div class="product-show-container">
  <div class="product-images">

    <% @product.images.each do |image| %>
    <%= cl_image_tag image.photo %>
    <% end %>

  </div>

  <div class="product-details">

    <p> <%= @product.name %></p>
    <p> <%= @product.price %></p>
    <p> <%= @product.available %></p>

    <%= button_to 'Add To Cart', product_add_to_cart_path(@product), method: :post, class: "btn" %>

  </div>


</div>
