<div class="product-show-flex">

  <div class="product-show-left">

    <div class="product-image">
      <%= cl_image_tag @product.main_photo, width: "100%", height: "100%" %>
    </div>

    <% @product.images.each do |image| %>
    <div class="product-image">
      <%= cl_image_tag image.photo, width: "100%", height: "100%" %>
    </div>
    <% end %>

  </div>

  <div class="product-show-right">

    <h4><b><%= @product.name.upcase %></b></h4>
    <h4><b><%= @product.price %></b></h4>

    <%= simple_form_for([ @product, @cart_item ]) do |t| %>
    <div class="inline-inputs">
      <%= t.input :size, collection: [ "XS", "S", "M", "L", "XL"], id: "size-select", required: true %>
      <%= t.input :quantity, collection: [ 1,2,3,4,5], id: "quantity-select", required: true  %>
    </div>

    <div class="centered-button">
      <%= t.button :submit, "Add to Cart", class: "primary-button", id: "add-to-cart-button" %>
    </div>
    <% end %>

  </div>

</div>
